{% load static%}
<!DOCTYPE html >
<html> 
  <head>
    <meta charset="UTF-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="initial-scale=1.0"/>
    <title>Fundacion Pinita</title>
    <link rel="preconnect" href="https://fonts.googleapis.com"/>
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin="crossorigin"/>
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;600&amp;family=Raleway:wght@100;300;400;600;800&amp;display=swap" rel="stylesheet"/>
    <link rel="stylesheet" href="{%static 'css/style.css' %}"/>
    <link rel="stylesheet" href="{%static 'css/tablet.css' %}" media="screen and (min-width: 768px)"/>
    <link rel="stylesheet" href="{%static 'css/desktop.css' %}" media="screen and (min-width: 1024px)"/>
    <link rel="stylesheet" href="{%static 'css/menu.css' %}"/>
    <link rel="shortcut icon" href="{% static 'css/images/favIcon.png' %}"/>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous"/>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto|Varela+Round"/>
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons"/>
    <!-- Bootstrap y dependencias-->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous"/>
    <!-- jQuery y Bootstrap Bundle-->
    <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
    <!-- DataTables-->
    <link rel="stylesheet" href="//cdn.datatables.net/1.11.3/css/jquery.dataTables.min.css"/>
    <script src="https://cdn.datatables.net/1.11.3/js/jquery.dataTables.min.js"></script>
    <!--iconos-->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto|Varela+Round"/>
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.1/font/bootstrap-icons.css"/>
    
   


    
  </head>
  <body> 
    <header>
      <nav class="menu">
        <section class="menu__container"><img class="menu__logo" src="{% static 'css/images/icono/logotipo.svg' %}" alt="logotipo"/>
          <ul class="menu__links"> 
            <li class="menu__item"> <a class="menu__link" href="{% url 'index' %}">Cerrar</a></li>
          </ul>
          <div class="menu__hamburger"> <img class="menu__img" src="{% static 'css/images/icono/menu.svg' %}" alt="icono de menu"/></div>
        </section>
      </nav>
    </header>
    {% block content%} 

    {% endblock%}
    <footer>
      <div class="footer__header"></div>
      <div class="footer__box">
        <div class="footer__box__body">
          <div class="footer__box__body-logo"><img src="{% static 'css/images/icono/logotipo.svg' %}" alt="logotipo de Pinita"/></div>
          <div class="footer__box__body-links">
            <h2>Enlaces Directos</h2>
            <ul> 
              <li><a href="index.html">Inicio</a></li>
            </ul>
          </div>
        </div>
        <div class="footer__foot"> 
          <div class="rights">
            <p>FUNDACION PINITA 2023</p>
          </div>
          <p class="divisor"><strong>|</strong></p>
          <div class="link__jmc"> <a href="https://jmcsoluciones.com" target="_blank">Desarrollado por <strong>JMC Soluciones/Dayana Ornelas</strong>  </a></div>
        </div>
      </div>
    </footer>
    <script src="{% static 'js/app-dist.js' %}"></script>
    
    <script>
      
    </script>
  </body>
</html>
