{% extends 'base.html' %}
{% load static %}

{% block content%}
    <div class="content"> 
      <div class="content__section-slide">
        <section class="content__slides carousel slide carousel-fade" data-bs-ride="carousel" id="carouselExampleFade">
          <div class="carousel-inner">
            <div class="carousel-item active">
              <picture class="carousel-item__img">
                <source media="(min-width:1110px)" srcset="{% static 'css/images/Desktop/desktopSlides_1-1920x466.jpg' %}"/>
                <source media="(min-width:768px)" srcset="{% static 'css/images/Tablet/tabletSlides_2-1110x466.jpg' %}"/>
                <img class="d-block w-100" src="{% static 'css/images/Mobile/mobileSlide_2-722x1048.jpg' %}" alt="Imagen de inicio"/>
              </picture>
              <div class="slideContent"> 
                <p>Fundación</p>
                <p>Pinita </p>
                <p>Más que sonrisas </p>
                <div class="slideContent__link"> <a href="{% url 'fundacion' %}" target="blank">Nuestra Fundación </a><img src="{% static 'css/images/icono/flecha_blanca.svg' %}" alt="logo de flecha"/></div>
              </div>
            </div>
            <div class="carousel-item">
              <picture class="carousel-item__img">
                <source media="(min-width:1110px)" srcset="{% static 'css/images/Desktop/desktopSlides_2-1920x466.jpg'%}"/>
                <source media="(min-width:768px)" srcset="{% static 'css/images/Tablet/tabletSlides_1-1110x466.jpg' %}"/><img class="d-block w-100" src="{% static 'css/images/Mobile/mobileSlide_1-722x1048.jpg' %}" alt="niña de verde"/>
              </picture>
              <div class="slideContent">
                <div class="slideContent__box"><img src="{% static 'css/images/icono/logotipo.svg' %}" alt="logo pinita"/></div>
              </div>
            </div>
            <button class="carousel-control-prev hidden" type="button" data-bs-target="#carouselExampleFade" data-bs-slide="prev"><span class="carousel-control-prev-icon hidden" aria-hidden="true"></span><span class="visually-hidden hidden">Previous</span></button>
            <button class="carousel-control-next hidden" type="button" data-bs-target="#carouselExampleFade" data-bs-slide="next"><span class="carousel-control-next-icon hidden" aria-hidden="true"></span><span class="visually-hidden hidden">Next</span></button>
          </div>
        </section>
      </div>
      <div class="content__section-nuestrafundacion">
        <div class="content__section-nuestrafundacion-txt"> 
          <p>"Cuando ayudamos a nuestro prójimo de corazón, es como <strong>sanamos errores, tristezas, y encontramos un nuevo camino</strong>"</p><a href="{% url 'fundacion' %}" target="blank">Conoce nuestra fundación <img src="{% static 'css/images/icono/flecha_amarilla.svg' %}" alt="logo de flecha"/></a>
        </div>
        <div class="content__section-nuestrafundacion-motivacion"> 
          <div class="content__section-nuestrafundacion-motivacion-text">
            <p>A veces no es sólo brillar, también es <strong>ayudar abrillar a alguien más</strong></p>
          </div>
        </div>
        <div class="content__section-nuestrafundacion-ayuda"> 
          <p>"ayudar a otro es un privilegio, agradece la oportunidad de hacerlo"</p>
        </div>
        <div class="content__section-nuestrafundacion-imgcafe"> 
          <div class="content__section-nuestrafundacion-imgcafe-color">
            <p>"Tus acciones demuestran <strong>de qué está echo tu corazón</strong>"</p>
          </div>
          <div class="content__section-nuestrafundacion-imgcafe-cuadro"> 
            <p>La gratitud lo cambia <strong>TODO</strong></p>
          </div>
          <div class="content__section-nuestrafundacion-texto"></div>
        </div>
        <div class="content__section-nuestrafundacion-programas"> 
          <p><strong>programas sociales</strong></p>
          <p>Apoyamos a los niños, jóvenes y adultos que se encuentran en mala situación </p>
        </div>
        <div class="content__section-nuestrafundacion-circulo">
          <div class="content__section-nuestrafundacion-circulo-item" id="itemProg1">
            <div class="content__section-nuestrafundacion-circulo-item-txt">
              <p>Comedor</p>
              <button class="btn btn-primary" type="button" data-bs-toggle="modal" data-bs-target="#exampleModal">Ver mas<img src="{% static 'css/images/icono/flecha_amarilla.svg' %}" alt="logo de flecha"/></button>
            </div>
          </div>
          <div class="modal fade modal fade" id="exampleModal" tabindex="-1" aria-labelledby="modalComedorLabel">
            <div class="modal-dialog" role="document">
              <div class="modal-content">
                <div class="modal-header">
                  <h1 class="modal-title fs-5" id="exampleModalLabel">Entrega de <br/> <strong>alimentos a <br/> clientes</strong></h1>
                  <button class="btn-close" type="button" data-bs-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                </div>
                <div class="modal-body">
                  <p>En pocas cosas se puede invertir mejor nuestro tiempo y esfuerzo que repartiendo sonrisas acompañadas de un alimento caliente a quien más lo necesita.<img class="imagen-redonda" src="{% static 'css/images/Mobile/itemsCircle_2-600x600.jpg' %}" alt="comedor viejito" srcset=""/></p>
                </div>
              </div>
            </div>
          </div>
          <div class="content__section-nuestrafundacion-circulo-item" id="itemProg2">
            <div class="content__section-nuestrafundacion-circulo-item-txt">
              <p>Ayuda Psicologica</p>
              <button class="btn btn-primary" type="button" data-bs-toggle="modal" data-bs-target="#Pscologia">Ver mas                            
                <img src="{% static 'css/images/icono/flecha_amarilla.svg'%}" alt="logo de flecha"/></button>
            </div>
          </div>
          <div class="modal fade modal fade" id="Pscologia" tabindex="-1" aria-labelledby="modalComedorLabel">
            <div class="modal-dialog" role="document">
              <div class="modal-content">
                <div class="modal-header">
                  <h1 class="modal-title fs-5" id="PscologiaLabel">Ayuda <br/> <strong>psicológica</strong></h1>
                  <button class="btn-close" type="button" data-bs-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                </div>
                <div class="modal-body">
                  <p>Servicio de atención psicológica gratuita. <br/><br/>“La buena vida es un proceso, no un estado de ser. Se trata de una dirección, no un destino”<img src="{% static 'css/images/Mobile/itemsCircle_3-600x600.jpg' %}" alt="Psicologia" srcset=""/></p>
                </div>
              </div>
            </div>
          </div>
          <div class="modal fade" id="exampleModalToggle2" aria-hidden="true" aria-labelledby="exampleModalToggleLabel2" tabindex="-1">
            <div class="modal-dialog modal-dialog-centered">
              <div class="modal-content">
                <div class="modal-header">
                  <h5 class="modal-title" id="exampleModalToggleLabel2">Resgistro </h5>
                  <button class="btn-close" type="button" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body mensaje">Registro exitoso!</div>
                <div class="modal-footer"> 
                  <button class="btn btn-secondary" type="button" data-bs-dismiss="modal">Aceptar</button>
                </div>
              </div>
            </div>
          </div>
          <div class="content__section-nuestrafundacion-circulo-item" id="itemProg3">
            <div class="content__section-nuestrafundacion-circulo-item-txt">
              <p>Albergue</p>
              <button class="btn btn-primary" type="button" data-bs-toggle="modal" data-bs-target="#albergue">Ver mas                            
                <img src="{% static 'css/images/icono/flecha_amarilla.svg' %}" alt="logo de flecha"/></button>
            </div>
          </div>
          <div class="modal fade modal fade" id="albergue" tabindex="-1" aria-labelledby="modalComedorLabel">
            <div class="modal-dialog" role="document">
              <div class="modal-content">
                <div class="modal-header">
                  <h1 class="modal-title fs-5" id="albergueLabel"><strong>Albergue</strong></h1>
                  <button class="btn-close" type="button" data-bs-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                </div>
                <div class="modal-body">
                  <p>
                    Servio de albergue “Ayuda a otros y verás cómo en realidad estás haciendo un mundo mejor para ti”<img src="{% static 'css/images/Mobile/itemsCircle_1-600x600.jpg' %}" alt="Albergue" srcset=""/></p>
                </div>
              </div>
            </div>
          </div>
          <div class="content__section-nuestrafundacion-circulo-item" id="itemProg4">
            <div class="content__section-nuestrafundacion-circulo-item-txt">
              <p>Meriendas a hospitales</p>
              <button class="btn btn-primary" type="button" data-bs-toggle="modal" data-bs-target="#Meriendas">Ver mas                                                        
                <img src="{% static 'css/images/icono/flecha_amarilla.svg'%}" alt="logo de flecha"/></button>
            </div>
          </div>
          <div class="modal fade modal fade" id="Meriendas" tabindex="-1" aria-labelledby="MeriendasLabel">
            <div class="modal-dialog" role="document">
              <div class="modal-content">
                <div class="modal-header">
                  <h1 class="modal-title fs-5" id="MeriendasLabel">Meriendas a <br/> <strong>hospitales</strong></h1>
                  <button class="btn-close" type="button" data-bs-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                </div>
                <div class="modal-body">
                  <p>Servico de desayunos a hospitales<br/> <br/>“Todos necesitan voluntarios como tú”<img src="{% static 'css/images/Mobile/itemsCircle_4-600x600.jpg' %}" alt="Meriendas" srcset=""/></p>
                </div>
              </div>
            </div>
          </div>
          <div class="content__section-nuestrafundacion-circulo-item" id="itemProg5">
            <div class="content__section-nuestrafundacion-circulo-item-txt">
              <p>Visitas a asilos anexos y clínicas</p>
              <button class="btn btn-primary" type="button" data-bs-toggle="modal" data-bs-target="#visitasHospitales">Ver mas                                                        
                <img src="{% static 'css/images/icono/flecha_amarilla.svg'%}" alt="logo de flecha"/></button>
            </div>
          </div>
          <div class="modal fade modal fade" id="visitasHospitales" tabindex="-1" aria-labelledby="visitasHospitalesLabel">
            <div class="modal-dialog" role="document">
              <div class="modal-content">
                <div class="modal-header">
                  <h1 class="modal-title fs-5" id="visitasHospitalesLabel">Visitas a <br/> <strong>asilos</strong> <br/> <strong>anexos</strong> <br/> <strong>y clínicas</strong></h1>
                  <button class="btn-close" type="button" data-bs-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                </div>
                <div class="modal-body">
                  <p>"La sonrisa que te regala un niño o un adulto con todo su corazón es una de las cosas más hermosas que se pueden experimentar"<img src="{% static 'css/images/Mobile/itemsCircle_5-600x600.jpg'%}" alt="visitas" srcset=""/></p>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="content__section-nuestrafundacion-blog"> 
          <h1>Nuestro Blog</h1>
          <div class="content__section-nuestrafundacion-blog-principal">
          
            <div class="content__section-nuestrafundacion-blogimg">
              <p>{{ post.titulo }}</p>
              <div class="content__section-nuestrafundacion-blogimg-box">
                <p><strong>Fecha</strong> {{ post.fecha }}</p>
                <p>{{ post.contenido }}</p>
                <p> <a href="" target="blank">ver mas<img src="{% static 'css/images/icono/flecha_amarilla.svg'%}" alt="logo de flecha"/></a></p>
              </div>
            </div>
          
        </div>
      </div>
    </div>
  </div>
  
{% endblock%}