{% extends 'base_login.html' %}
{% load static %}

{% block content%}
    <form class="login__container" method="post" action="{% url 'login' %}">
      {% csrf_token %}
      <div class="login__formLogin__box">
        {% for message in messages %}
            <div class="alert alert-danger" role="alert">
                {{ message }}
            </div>
        {% endfor %}
      <div class="content login content__inicio">
        <p>Inicio de Sesíon</p>
        <div class="content login content__inicio__form">
          <div class="mb-3">
            <label class="form-label" for="username">Usuario:</label>
            <input class="form-control" id="username" name="username" type="text" placeholder="Ingrese Usuario"/>
          </div>
          <div class="mb-3">
            <label class="form-label" for="password">Password:</label>
            <input class="form-control" id="password" name="password" type="password" placeholder="Password"/>
          </div>
          <div class="boton"> 
            <button class="btn btn-primary btn-lg"  type="submit" >iniciar sesión</button>
        </div>
      </div>
    </div>
{% endblock%}