{% extends 'base_fundacion.html' %}
{% load static %}

{% block content%}
    <div class="content__section-Fundacion"> 
      <div class="content__section-Fundacion-text">
        <p>CONOCE NUESTRA FUNDACIÓN</p>
      </div>
    </div>
    <div class="content__section-Fundacion-quienessomos">
      <h2>¿Quienes somos?</h2>
      <p>En la Fundación Pinita nos preocupamos por el desarrollo de los niños y adultos mayores que se encuentran en situaciones vulnerables...</p><img id="fundacion" src="{% static 'css/images/Mobile/fundacion.jpg '%}" alt="imagen de fundacion"/>
      <button class="btn btn-primary btn-lg" type="button" data-bs-toggle="modal" data-bs-target="#exampleModal">Ver mas<img class="vector" src="{% static 'css/images/icono/flecha_amarilla.svg '%}" alt="logo de flecha"/></button>
    </div>
    <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="modalComedorLabel">
      <div class="modal-dialog" role="document">
        <div class="modal-content" id="fundacion">
          <div class="modal-header">
            <h1 class="modal-title fs-5" id="exampleModalLabel"><strong>¿Quienes somos?</strong></h1>
            <button class="btn-close" type="button" data-bs-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          </div>
          <div class="modal-body">
            <p id="pmodal">
              En la Fundación Pinita nos preocupamos por el desarrollo de los niños y adultos mayores que se encuentran en situaciones vulnerablesy/o internados en los diferentes hospitales y clínicas del Estado, con riso terapias también fortalecemos los lazos de solidaridad y amistad entre las personas y los voluntarios, 
              ya sea que necesiten una palabra de aliento, una sonrisa, un alimento caliente, así como asesoría legal y orientación psicológica gratuita. Apoyamos a los niños y jóvenes que se encuentran en situación de calle enseñándoles un oficio como carpintería,
              fontanería, jardinería y electricidad para reintegrarlos a la sociedad como personas productivas.
              Al estar capacitados en materia de protección civil y bomberos podemos ayudar a las personas enseñándoles a detectar los puntos vulnerables de su entorno y mitigar los daños y las perdidas económicas y de vidas.
            </p>
          </div>
        </div>
      </div>
    </div>
    <div class="content__section-Fundacion-Mision">
      <div class="content__section-Fundacion-Mision-text">
        <h1><strong>Misión</strong></h1>
        <p>Contribuir a la sensibilización de las personas para apoyar <strong>grupos marginados, personas de la tercera edad y niños hospitalizados...</strong></p>
      </div>
    </div>
    <div class="content__section-Fundacion-Valores">
      <p>Nuestros Valores</p>
    </div>
    <div class="content__section-Fundacion-lista"> 
      <ul class="content__section-Fundacion-lista-listaval">
        <li class="content__section-Fundacion-lista-listaval-text">
          <p>La solidaridad entre las personas</p><img src="{% static 'css/images/icono/marca-verificacion.svg '%}" alt="verificacion"/>
        </li>
        <li class="content__section-Fundacion-lista-listaval-text"> 
          <p>La fraternidad</p><img src="{% static 'css/images/icono/marca-verificacion.svg '%}" alt="verificacion"/>
        </li>
        <li class="content__section-Fundacion-lista-listaval-text">
          <p>La vocación de servicio al prójimo</p><img src="{% static 'css/images/icono/marca-verificacion.svg '%}" alt="verificacion"/>
        </li>
        <li class="content__section-Fundacion-lista-listaval-text">
          <p>El respeto por la vida.</p><img src="{% static 'css/images/icono/marca-verificacion.svg '%}" alt="verificacion"/>
        </li>
        <li class="content__section-Fundacion-lista-listaval-text">
          <p>El trabajo en equipo y la no discriminación.</p><img src="{% static 'css/images/icono/marca-verificacion.svg '%}" alt="verificacion"/>
        </li>
      </ul>
    </div>
    <div class="content__section-Fundacion-vision">
      <div class="content__section-Fundacion-vision-text">
        <h2><strong>Visión</strong></h2>
        <p> Fortalecer el trabajo en equipo entre los voluntarios, <strong>las dependencias gubernamentales y las personas de nuestra comunidad.</strong></p>
      </div>
    </div>
   {% endblock%}