{% load static%}
<!DOCTYPE html >
<html> 
  <head>
    <meta charset="UTF-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="initial-scale=1.0"/>
    <title>Fundacion Pinita</title>
    <link rel="preconnect" href="https://fonts.googleapis.com"/>
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin="crossorigin"/>
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;600&amp;family=Raleway:wght@100;300;400;600;800&amp;display=swap" rel="stylesheet"/>
    <link rel="stylesheet" href="{%static 'css/style.css' %}"/>
    <link rel="stylesheet" href="{%static 'css/tablet.css' %}" media="screen and (min-width: 768px)"/>
    <link rel="stylesheet" href="{%static 'css/desktop.css' %}" media="screen and (min-width: 1024px)"/>
    <link rel="stylesheet" href="{%static 'css/menu.css' %}"/>
    <link rel="stylesheet" href="{%static 'css/form.css' %}"/>
    <link rel="shortcut icon" href="{% static 'css/images/favIcon.png' %}"/>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous"/>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto|Varela+Round"/>
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons"/>
    <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
  </head>
  <body> 
    <header>
      <nav class="menu">
        <section class="menu__container"><img class="menu__logo" src="{% static 'css/images/icono/logotipo.svg' %}" alt="logotipo"/>
          <ul class="menu__links"> 
            <li class="menu__item"> <a class="menu__link" href="index.html">Inicio</a></li>
            <li class="menu__item menu__item-show"><a class="menu__link" href="#">Fundacion <img class="menu__arrow" src="../images/icono/chevronderecha.svg" alt="flecha sub"/></a>
              <ul class="menu__nesting">
                <li class="menu__inside"><a class="menu__link menu__link-inside" href="Fundacion.html">Quienes somos</a></li>
                <li class="menu__inside"><a class="menu__link menu__link-inside" href="contacto.html">Contacto   </a></li>
              </ul>
            </li>
            <li class="menu__item"> <a class="menu__link" href="formlogin.html">Login</a></li>
            <li class="menu__item"> <a class="menu__link" href="Registro.html">Registro</a></li>
          </ul>
          <div class="menu__hamburger"> <img class="menu__img" src="{% static 'css/images/icono/menu.svg' %}" alt="icono de menu"/></div>
        </section>
      </nav>
    </header>
    <div class="contentContacto">
      <div class="contentContacto__titulo"> 
        <p>Formulario de contacto</p>
        <div class="contentContacto__titulo__formu">
          <div class="mb-3">
            <label class="form-label" for="formGroupExampleInput">Nombre:</label>
            <input class="form-control" id="formGroupExampleInput" type="text" placeholder="Ingrese nombre"/>
          </div>
          <div class="mb-3">
            <label class="form-label" for="formGroupExampleInput2">Teléfono:</label>
            <input class="form-control" id="formGroupExampleInput2" type="number" placeholder="Teléfono"/>
          </div>
          <div class="mb-3">
            <label class="form-label" for="formGroupExampleInput3">Asunto:</label>
            <textarea class="form-control" id="floatingTextarea2" placeholder="" style="height: 50px"></textarea>
          </div>
          <div class="mb-3">
            <label class="form-label" for="formGroupExampleInput3">Mensaje:</label>
            <textarea class="form-control" id="floatingTextarea2" placeholder="" style="height: 100px">   </textarea>
          </div>
          <div class="boton"> 
            <button class="btn btn-warning btn-lg" type="button">Enviar</button>
          </div>
        </div>
        <div class="contenteContacto__titulo__formu__maps" id="mapa">
          <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3702.536863147943!2d-102.30142972558792!3d21.87539305816424!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x8429ee7e73cea6f3%3A0xafe77ee7e86da99e!2sPinita!5e0!3m2!1ses!2smx!4v1697662079683!5m2!1ses!2smx" width="600" height="390" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade" display="flex" align-items="center" justify-content="center"></iframe>
        </div>
      </div>
    </div>
    <footer>
        <div class="footer__header">
          <div class="footer__header__box">
            <div class="footer__header__box__phone">
              <div class="footer__header-icon"><img src="{% static 'css/images/icono/telefono.svg' %}" alt="icono de teléfono fijo"/></div>
              <div class="footer__header__phone-num"> 
                <p>442 219-76-51 <br/>444 257-52-88</p>
              </div>
            </div>
            <div class="footer__header__box__cellphone">
              <div class="footer__header-icon"> <img src="{% static 'css/images/icono/telefono-inteligente.svg' %}" alt="ícono de un celular"/></div>
              <div class="footer__header__cellphone-num"> 
                <p>449-110-68 42</p>
              </div>
            </div>
            <div class="footer__header__box__email"> 
              <div class="footer__header-icon"><img src="{% static 'css/images/icono/correo.svg' %}" alt="ícono de un email"/></div>
              <div class="footer__header__email-txt"> 
                <p>contacto@fundacionpinita.org</p>
              </div>
            </div>
          </div>
        </div>
        <div class="footer__box">
          <div class="footer__box__body">
            <div class="footer__box__body-logo"><img src="{% static 'css/images/icono/logotipo.svg'%}" alt="logotipo de Pinita"/></div>
            <div class="footer__box__body-links">
              <h2>Enlaces Directos</h2>
              <ul> 
                <li><a href="/">Inicio</a></li>
                <li><a href="Fundacion.html">Fundacion Pinita </a></li>
                <li><a href="Registro.html">Registro</a></li>
                <li><a href="Contacto.html">Contacto</a></li>
                <li><a href="privacidad.html">Aviso de Privacidad </a></li>
              </ul>
            </div>
            <div class="footer__box__body-address"> <img src="{% static 'css/images/icono/maps.svg' %}" alt="ícono de ubicación"/>
              <p>Calle Belice 211 col.</p>
              <p>Santa Elena, CP</p>
              <p>20230</p>
              <p>Aguascalieintes,Ags</p>
            </div>
            <div class="footer__box__body-schedule">
              <h2>HORARIOS DE ATENCIÓN</h2>
              <div class="footer__box__body-schedule-hours">
                <p>Lunes a Viernes: </p>
                <p>9:00am - 6:00 pm</p>
                <p>Sábado: </p>
                <p>9:00am - 2:00 pm</p>
                <p>Domingo: </p>
                <p>Cerrado</p>
              </div>
            </div>
            <div class="footer__box__body-socialmedia">
              <div class="footer__box__body-socialmedia__icon">
                <h2>SÍGUENOS</h2><a href="https://www.facebook.com/FundacionPinita"> <img src="{% static 'css/images/icono/facebook.svg' %}" alt="Ícono de facebook en footer"/></a>
              </div>
            </div>
          </div>
          <div class="footer__foot"> 
            <div class="rights">
              <p>FUNDACION PINITA 2023</p>
            </div>
            <p class="divisor"><strong>|</strong></p>
            <div class="link__jmc"> <a href="https://jmcsoluciones.com" target="_blank">Desarrollado por <strong>JMC Soluciones</strong>  </a></div>
          </div>
        </div>
      </footer>
    <script src="js/app-dist.js"></script>
  </body>
</html>