{% extends 'base.html' %}
{% load static %}

{% block content%}
    <div class="contentContacto">
      <div class="contentContacto__titulo"> 
        <p>Formulario de contacto</p>
        <div class="contentContacto__titulo__formu">
          <div class="mb-3">
            <label class="form-label" for="formGroupExampleInput">Nombre:</label>
            <input class="form-control" id="formGroupExampleInput" type="text" placeholder="Ingrese nombre"/>
          </div>
          <div class="mb-3">
            <label class="form-label" for="formGroupExampleInput2">Teléfono:</label>
            <input class="form-control" id="formGroupExampleInput2" type="number" placeholder="Teléfono"/>
          </div>
          <div class="mb-3">
            <label class="form-label" for="formGroupExampleInput3">Asunto:</label>
            <textarea class="form-control" id="floatingTextarea2" placeholder="" style="height: 50px"></textarea>
          </div>
          <div class="mb-3">
            <label class="form-label" for="formGroupExampleInput3">Mensaje:</label>
            <textarea class="form-control" id="floatingTextarea2" placeholder="" style="height: 100px">   </textarea>
          </div>
          <div class="boton"> 
            <button class="btn btn-warning btn-lg" type="button">Enviar</button>
          </div>
        </div>
        <div class="contenteContacto__titulo__formu__maps" id="mapa">
          <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3702.536863147943!2d-102.30142972558792!3d21.87539305816424!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x8429ee7e73cea6f3%3A0xafe77ee7e86da99e!2sPinita!5e0!3m2!1ses!2smx!4v1697662079683!5m2!1ses!2smx" width="600" height="390" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade" display="flex" align-items="center" justify-content="center"></iframe>
        </div>
      </div>
    </div>
    {% endblock%}